
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    font-family: 'Courgette', cursive, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

:root{
    --titulo: black;
    --subtitulo:grey;
    --principal: #e67e22;
    --secundaria: rgb(173, 55, 0);
    --fundo:#eee;
    --borda: .1rem solid rgb(150, 150, 150); 
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
    width: 1rem;

}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--subtitulo);
    border-radius: 5rem;
}